:root {
  --background: var(--gray-100);
  --foreground: var(--gray-900);
  --color-primary: var(--yellow-300);
  --text-primary: var(--gray-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray-900);
    --foreground: var(--gray-50);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: grid;
  margin: 0.5rem;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  main {
    justify-content: initial;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
